<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">XAPP Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>欢迎使用 XAPP Web API!</h1>
                <h2></h2>
            </hgroup>
            <p>
             <h2> 便捷，快速，稳定，强大</h2>
            </p>
           
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>下面是我们建议的步骤:</h3>
        <ol class="round">
            <li class="one">
               
            
                
            </li>

            
        </ol>
    </section>
</div>
